@model Proyecto_Escuelas_ASP.Models.Nota_Materia

@{
    ViewData["Title"] = "Crear nota";
}


<h4>Curso</h4>
<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class=" card-header bg-dark">
                <h4 class="text-warning"><strong>Crear nota</strong></h4>
            </div>

        </div>
        <div class="card-body">
            <form asp-action="Create" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="NotaObtenida" class="control-label"></label>
                    <input asp-for="NotaObtenida" class="form-control" placeholder="Ingrese el codigo" />
                    <span asp-validation-for="NotaObtenida" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="FechaCalificacion" class="control-label"></label>
                    <input type="date" asp-for="FechaCalificacion" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="EstudianteId" class="control-label"></label>
                    <select asp-for="EstudianteId" class="form-control ">
                        @foreach (var item in @ViewBag.Estudiante)
                        {
                            <option value="@item.Id">
                                @item.PersonaId
                            </option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="CursoMateriaId" class="control-label"></label>
                    <select asp-for="CursoMateriaId" class="form-control ">
                        @foreach (var item in @ViewBag.CursoMateria)
                        {
                            <option value="@item.Id">
                                @item.MateriaId
                            </option>
                        }
                    </select>
                </div>
                <div class="form-group mt-3">
                    <button type="submit" id="enviar" class="btn btn-secondary d-block mx-auto"><i class="bg-info bi-person-fill"></i> Crear </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}