<!--Para poder acceder a la entidad de contacto-->
@model Proyecto_Escuelas_ASP.Models.Nota_Materia

@{
    ViewData["Title"] = "Detalles nota";
}

<h1>Details</h1>

<div>
    <h4>Restaurantes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Materias.Nombre_Materia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Materias.Nombre_Materia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiantes.PersonaId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estudiantes.PersonaId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCalificacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaCalificacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NotaObtenida)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NotaObtenida)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id"><i class="bi bi-pencil-fill mx-2 mb-1"></i>Editar</a>
    <a class="btn btn-primary" asp-action="Index"><i class="bi bi-arrow-left-square mx-2 mt-1"></i>Volver</a>
</div>